@model Quantrix_Git.Models.Categoty
@{

    Layout = "~/Views/Shared/_admin_layout.cshtml";
}
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>*@
<div class="row justify-content-between align-items-center mb-3  fadeIn">
    <div class="col-md-auto">
        <h2>Banner Management</h2>
    </div>
    @Html.Hidden("hdnCategoryId", "0")
    <div class="table-box main-form fadeInRight" style="height:100% !important">

        

        <div class="table-box animated fadeInRight"  style="height: 100% !important;">
            <div class="mCustomScrollbar content fluid light" data-mcs-theme="inset-2-dark">
                <div class="form_golf">
                    <form id="frmPropertyImages" name="frmPropertyImages" enctype="multipart/form-data">
                        
                        Select Category Image
                        <div class="form_golf">
                            <div class="row">
                                <div style="margin-left:17px"> <img id="user_img" height="300" width="500" style="border:solid" /> </div>
                                <div class="col-md-4">
                                    <input type="file" title="search image" id="file" name="file" onchange="show(this)" />
                                </div>
                            </div>

                        </div>
                        <br />
                        Category Name
                        <div class="form_golf">
                            <div class="row">
                                <div class="col-md-8">
                                    @Html.TextBox("txtCategoryName", "", new { @class = "form-control", @placeholder = "Category Name", @maxlength = "200", @readonly=true, })
                                </div>
                            </div>

                        </div>
                        <br />

                        Category Notes
                        <div class="form_golf">
                            <div class="row">
                                <div class="col-md-8">
                                    @Html.TextArea("txtCategoryNotes", "", new { @class = "form-control", @placeholder = "Enter Category Notes",@tabindex=1 })
                                </div>
                                <div class="col-md-1">
                                    <button type="button" id="btnSave" class="btn btn-primary" style="display:none" tabindex="2">Save</button>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" id="btnCancel" class="btn btn-secondary" style="display:none" tabindex="3">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <br /><br />
                <div>
                    @*<div class="mCustomScrollbar content fluid light" data-mcs-theme="inset-2-dark">*@

                    <div class="form_golf">
                        <div class="row">
                            <div class="col-md-8">

                            </div>

                            @*<div class="col-md-2" style="font-size:14px !important">
                                Active @Html.RadioButton("rdoStatus", "1", true, new { @id = "rdoActive" })
                                Deactive @Html.RadioButton("rdoStatus", "0", new { @id = "rdoDeActive" })
                            </div>*@

                            <div class="col-md-4">
                                @Html.TextBox("txtsearch", "", new { @class = "form-control", @placeholder = "Search", @maxlength = "100", })
                            </div>
                        </div>
                    </div>
                    <br />
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-responsive-sm" id="BindData">
                        <thead>
                            <tr>
                                <th style="width:10%">Action</th>
                                <th style="width:20%">Category Image</th>
                                <th style="width:20%">Category Name</th>
                                <th style="width:50%">Category Notes</th>

                            </tr>
                        </thead>
                        <tbody id="tbdSearchResult">
                            @{ foreach (var item in Model.CategoryList)
                                {

                                    var url = "/images/notavailable.png";
                                                            if (Convert.ToString(item.image_url) != "")
                                                            {
                                                            url = "/images/" + item.image_url;
                                                            }

                                                        <tr>
                                                            <td>
                                                                <a href="#" id="aedit" class="pr-3" data-category_id="@item.category_id"><i class="fa fa-edit" aria-hidden="true" title="Edit"></i></a>
                                                                @*@if (@item.isactive == 0)
                                                                {
                                                                    <a href="#" class="pr-3" data-category_id="@item.category_id" id="aactive"><i class="fa fa-flash" aria-hidden="true" title="Activate"></i></a>
                                                                }
                                                                else
                                                                {
                                                                    <a href="#" class="pr-3" data-category_id="@item.category_id" id="aDeactive"><i class="fa fa-flash" aria-hidden="true" title="Deactivate"></i></a>
                                                                }*@


                                                            </td>
                                                            
                                                            <td><img id='category_img_grid' height='60' width='100' style='border:solid' src='@url' /></td>
                                                            <td>@item.category_name</td>
                                                            <td>@item.category_notes</td>

                                                        </tr>
                                }
                            }

                        </tbody>
                        <tfoot id="divNoMore" style="display:none">
                            <tr>
                                <td colspan="4">No Data Found</td>
                            </tr>
                        </tfoot>
                    </table>
                    @*</div>*@
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).off("click", "#btnCancel").on("click", "#btnCancel", function () {
            clearAll();
        });

        $(document).off("click", "#btnSave").on("click", "#btnSave", function () {
            if ($("#txtCategoryName").val() == "") {
                alert("Enter Category Name");
                $("#txtCategoryName").focus();
                return false;
            }
            if ($("#txtCategoryNotes").val() == "") {
                alert("Enter Category Notes");
                $("#txtCategoryNotes").focus();
                return false;
            }
            else { save(); }

        });

        $('#txtsearch').on('change input', function () {
            var Length = $("#txtsearch").val().length;

            if (Length > 2) {
                searchCategory();
            }
            else if (Length == 0) { searchCategory(); }
        });
        $('#user_img').attr('src', '/images/notavailable.png');
        //$(document).off("click", "#rdoActive").on("click", "#rdoActive", function () {
        //    $("#rdoActive").val(1);
        //    $("#rdoDeActive").val(0);
        //    searchBanner();
        //});
        //$(document).off("click", "#rdoDeActive").on("click", "#rdoDeActive", function () {
        //    $("#rdoActive").val(0);
        //    $("#rdoDeActive").val(1);
        //    searchBanner();
        //});

        //$(document).off("click", "#aDeactive").on("click", "#aDeactive", function () {
        //    if (confirm('Are you sure to Deactivate?')) { changeStatus($(this).data("banner_id"), 0); }
        //    else { return false; }

        //});

        //$(document).off("click", "#aactive").on("click", "#aactive", function () {
        //    if (confirm('Are you sure to Activate?')) { changeStatus($(this).data("banner_id"), 1); }
        //    else { return false; }

        //});
        $(document).off("click", "#aedit").on("click", "#aedit", function () {
            edit($(this).data("category_id"), 1);

        });                   

                });
  
    function searchCategory() {
        $.ajax({
            url: '/Category/Search',
            type: 'POST',
            data: { category_id: null, searchText: $('#txtsearch').val(), status: 1 },
            dataType: 'json',
            success: function (data) {
                debugger;
                if (data.success == true) {
                    if (data.recordHTML == null) {
                        $("#tbdSearchResult").html('');
                        $("#divNoMore").show();
                    } else if (data.recordHTML == '') {
                        $("#tbdSearchResult").html('');
                        $("#divNoMore").show();
                    } else {
                        $("#tbdSearchResult").html(data.recordHTML);
                        $('#divNoMore').hide();
                    }
                } else {
                    alert('Internal error has been occured.Please contact development team');
                    return false;
                }
            },
            error: function (errorrslt) {
                console.log(errorrslt);
                alert('Internal error has been occured.Please contact development team');
                return false;
            }
        });
    }
    function show(input) {
        var fileName = $('input[type=file]').val().split('\\').pop();
        var fileNameExt = fileName.substr(fileName.lastIndexOf('.') + 1);
        if (fileNameExt == 'png' || fileNameExt == 'jpeg' || fileNameExt == 'jpg' || fileNameExt == 'PNG' || fileNameExt == 'JPEG' || fileNameExt == 'JPG') {

            if (input.files && input.files[0]) {
                var filerdr = new FileReader();
                filerdr.onload = function (e) {
                    $('#user_img').attr('src', e.target.result);
                }
                filerdr.readAsDataURL(input.files[0]);
            }
        }
        else {
            $('#file').val('');
            $('#user_img').attr('src','/images/notavailable.png');
            alert('Please select .png/.jpg/.jpeg file...!');
            return false;
        }

    }
    function clearAll() {
        $('#hdnCategoryId').val('0');
        $('#txtCategoryName').val('');
        $('#txtCategoryNotes').val('');
        $('#file').val('');
        $('#user_img').attr('src', '/images/notavailable.png');
         $('#btnSave').hide();
                    $('#btnCancel').hide();
    }
    function save() {

        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('file');
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }
        //Adding one more key to FormData object
        formdata.append('category_id', $('#hdnCategoryId').val());
        formdata.append('category_name', $('#txtCategoryName').val());
        formdata.append('category_notes', $('#txtCategoryNotes').val());
        $.ajax({
            url: '/Category/Save',
            type: 'POST',
            data: formdata,
            //mimeType: 'multipart/form-data',
            cache: false,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.success == true) {
                    alert("Record Saved successfully...!");
                    clearAll();
                    searchCategory();
                }
            },
            error: function (errorrslt) {
                console.log(errorrslt);
                alert('Internal error has been occured.Please contact development team...!');
                return false;
            }
        });
    }
    function edit(_category_id) {
        $.ajax({
            url: '/Category/Search',
            type: 'POST',
            data: { category_id: _category_id,  searchText: '', status: 1 },
            dataType: 'json',
            success: function (data) {
                debugger;
                if (data.success == true) {
                    $('#hdnCategoryId').val(data.Records[0].category_id);
                    if (data.Records[0].image_url != null && data.Records[0].image_url != "")
                        $('#user_img').attr('src', '/images/' + data.Records[0].image_url);
                    else
                        $('#user_img').attr('src', '/images/notavailable.png');
                    $('#txtCategoryName').val(data.Records[0].category_name);
                    $('#txtCategoryNotes').val(data.Records[0].category_notes);
                    $('#btnSave').show();
                    $('#btnCancel').show();
                } else {
                    alert('Internal error has been occured.Please contact development team');
                    $('#btnSave').hide();
                    $('#btnCancel').hide();
                    return false;
                }
            },
            error: function (errorrslt) {
                console.log(errorrslt);
                alert('Internal error has been occured.Please contact development team');
                return false;
            }
        });
    }
    //function changeStatus(_banner_id, _status) {

    //    $.ajax({
    //        url: '/Admin/ChangeBannerStatus',
    //        type: 'POST',
    //        data: { banner_id: _banner_id, status: _status },
    //        success: function (result) {

    //            if (result.success == true) {
    //                if (_status == 0)
    //                { alert('Record Deactivated Successfully'); }

    //                else { alert('Record Activated Successfully'); }
    //                searchBanner();
    //            }
    //            else {
    //                alert(result.message);
    //                return false;
    //            }
    //        },
    //        error: function (errorrslt) {

    //            console.log(errorrslt);
    //            alert('Internal error has been occured.Please contact development team');
    //            return false;
    //        }
    //    });
    //}
</script>

